.wrapper {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  row-gap: 8px;
  @media (max-width: 480px) {
    width: 100%;
  }
}

.input {
  border: 1px solid #111;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  font-weight: 500;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  opacity: 0.4;
  @media (max-width: 480px) {
    width: 100%;
  }
  &:focus {
    opacity: 1;
  }
}
.error {
  color: red;
  font-weight: 400px;
}
.label {
  color: #111;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
