.wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  @media (max-width: 768px) {
    gap: 8px;
    align-items: baseline;
  }
}
.radio_container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.radio__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 42px;

  @media (max-width: 768px) {
    row-gap: 48px;
  }
  @media (max-width: 955px) {
    row-gap: 48px;
  }
}
