.calculation__title {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  line-height: 40px;
}
.calculation__container {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-radius: 18px;
  background-color: #526eff;
  padding: 42px 52px;
  @media (max-width: 768px) {
    padding: 18px;
  }
}
.calculation__list {
  display: flex;
  gap: 54px;
  flex-wrap: wrap;
  margin-bottom: 36px;
  @media (max-width: 768px) {
    row-gap: 24px;
    align-items: baseline;
    margin-bottom: 36px;
  }
}
ul {
  all: unset;
}

li {
  all: unset;
}

.calculation__item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 5px;
}
.calculation__param {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.calculation__descr {
  color: #ffffff7a;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.calculation__btn_wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 36px;
  @media (max-width: 768px) {
    width: 100%;
    row-gap: 8px;
  }
}
.calculation__btn {
  background-color: #ffff;
  padding: 15px 32px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  @media (max-width: 768px) {
    row-gap: 24px;
    align-items: baseline;
    margin-bottom: 36px;
    width: 100%;
  }
}

.btn_reset {
  color: #526eff;
}

.btn_catalog {
  color: #5acd66;
}
.email__input_container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.email__input_wrapper {
  display: flex;
  gap: 9px;
}
