#root {
  margin: 0 auto;
  text-align: center;
  padding: 7px;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.flex {
  display: flex;
}

h2 {
  
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
}
.flex--section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.button {
  font-weight: 500;
  padding: 15px 32px;
  background-color: #526eff;
  color: #ffff;
  font-size: 16px;
  line-height: 24px;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  gap: 5px;

  &::before {
    content: url('./assets/btn.svg');
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    vertical-align: middle;
  }
}
