:root {
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-color: #f5f7f9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin: 0;
}
*:focus {
  outline: none;
  border: 2px solid #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
h1,
h2,
h3 {
  margin: 0;
}

a {
  margin: 0;
  padding: 0;
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f7f9;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  place-items: center;
  min-height: 100vh;
  @media (max-width: 480px) {
    min-height: auto;
  }
}

h1 {
  font-family: 'Inter';
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: none;
  font: inherit;
  outline: none;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:focus {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f5f7f9;
  }

  button {
    background-color: #f9f9f9;
  }
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
.button__delete {
  background-color: inherit;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
}

// .window__button__delete:hover {
//   opacity: 0.8;
// }
